/*L-desktop*/
/*L-laptops*/
/*laptops/tablets*/
/*tablets*/
/*Smart phone*/
@media only screen and (min-width: 1600px) {
    .steps {
        min-height: 700px;
        .steps-inner {
            padding-left: 35px;
            padding-right: 35px;
        }

        .main-heading {
            img {
                width: 200px;
            }
            label {
                font-size: 30px;
                margin: 10px 0px 10px 0px;
            }
            p {
                font-size: 20px;
            }
        }

        .block {
            .text_input {
                height: 90px;
                margin-bottom: 30px !important;
                label {
                    line-height: 90px;
                    font-size: 20px;
                }

                input {
                    width: 100%;
                    font-size: 25px;
                }

                .invalid-feedback {
                    display: none;
                }
            }
        }

        .next-prev {
            height: 80px;

            button {
                font-size: 25px;
            }
        }
    }
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1440px) {
    .main-heading {
        font-size: 58px;
    }
    .left-section-text {
        font-size: 18px;
    }
    .steps {
        .steps-inner {
            padding-left: 35px;
            padding-right: 35px;
        }
    }
    .job-single {
        height: 125px;
    }
    .experience {
        label {
            margin-left: 5px;
        }
    }
}
@media only screen and (min-device-width: 576px) and (max-device-width: 1024px) {
    .left-section {
        order: 2;
    }
    .tab-50 {
        width: 50%;
    }
    .tab-100 {
        width: 100%;
    }
    .logo {
        margin-left: 50px;
    }
    .main-heading {
        font-size: 40px;
    }
    .left-section-text {
        font-size: 15px;
    }
    .steps {
        .steps-inner {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .right-section-inner {
        .wrapper {
            width: 80%;
        }
    }
    .steps-inner {
        .main-heading {
            font-size: 35px;
        }
    }
    .job-single {
        height: 100px;
        label {
            font-size: 9px;
        }

        img {
            width: 40%;
        }
    }
    .experience {
        label {
            margin-left: 5px;
            margin-top: 8px;
            margin-bottom: 8px;
        }
        input {
            width: 100%;
        }
        text-align: center;
    }
    .step-custom {
        .steps-inner {
            .scroll-form {
                padding-right: 6px;
            }
            .main-heading {
                padding-right: 6px;
            }
        }
        .next-prev {
            margin-right: 20px;
        }
    }
    .text_input {
        label {
            font-size: 12px;
        }
        input {
            font-size: 12px;
        }
    }
    .gender {
        margin-bottom: 15px;
    }
    .supported-file {
        font-size: 10px;
    }
    .agree-terms {
        label {
            font-size: 10px;
        }
    }
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
    .tab-50 {
        width: 50%;
    }
    .tab-100 {
        width: 100%;
    }
    .tab-sm-100 {
        width: 100%;
    }
    .tab-sm-50 {
        width: 50%;
    }
    .right-section-inner {
        .wrapper {
            width: 70%;
        }
    }
    .right-section {
        &::before {
            top: auto;
        }
        svg {
            top: auto;
        }
    }
    .step-counter {
        margin-top: 40px;
    }
    .job-single {
        img {
            width: 40%;
        }
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 576px) {
    .job-single {
        img {
            width: 40%;
        }
    }

    .auth-section {
        padding: 0px;
    }

    .right-section {
        svg {
            top: auto;
        }
    }
    .logo {
        margin-left: 25px;
    }
    .left-section-inner {
        width: 100%;
        .wrapper {
            width: 80%;
            margin: 0 auto;
        }
    }
    .right-section-inner {
        width: 100%;
        padding-top: 30px;
        .wrapper {
            width: 100%;
            margin-top: 25px;
        }
    }
    .main-heading {
        font-size: 30px;
    }
    .left-section-text {
        font-size: 12px;
    }
    .step-counter {
        margin: auto;
        margin-top: 40px;
    }
    .steps {
        border-radius: 0;
        .steps-inner {
            padding: 70px 20px 50px 20px;
        }
    }
    .steps-inner {
        .main-heading {
            font-size: 28px;
        }
    }
    .step-custom {
        .steps-inner {
            .main-heading {
                padding-right: 6px;
            }
            .scroll-form {
                padding-right: 6px;
            }
        }
    }
    .gender {
        margin-bottom: 15px;
    }
    .agree-terms {
        label {
            font-size: 12px;
        }
    }
    .left-section {
        order: 2;
    }
    .hide {
        display: none;
    }
}
