//
// Theme style
//

// Initialize
@import "init";

// Components
@import "components/components";

@import "./animation.scss";
@import "./style-login.scss";
@import "./style-inspec.scss";
@import "./responsive.scss";

// Layout
@import "layout/base/layout";
@import "layout/layout";

.header-page {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .filter {
        display: flex;
        align-items: center;
        gap: 12px;
        select {
            margin-left: 12px !important;
            margin-right: 12px !important;
        }
    }
}

.iframe-powerbi{
    min-height: 600px;
}