$color_good: #5F8D4E;
$color_low_risk: #FCC888;
$color_medium_risk: #D06224;
$color_high_risk: #990000;
$color_table_good: #00AF50;
$color_table_bad: #FE0000;

.dot-group{
    text-align: right;
    display: inline-flex;
    align-items: center;
}

.dot{
    display: inline-block;
    border-radius: 50%;
    width: 50%;
    background-color: grey;
    height: 12px;
    width: 12px;
    margin: 0 2px;
}

.dot-text{
    padding-right: 7px;
    font-size:12px;
}

.bg-good{
    background-color: $color_good !important;
}

.bg-low-risk{
    background-color: $color_low_risk !important;
}

.bg-medium-risk{
    background-color: $color_medium_risk !important;
}

.bg-high-risk{
    background-color:$color_high_risk !important; 
}

.bg-table-good{
    background-color:$color_table_good !important; 
}

.bg-table-bad{
    background-color:$color_table_bad !important; 
}
