$color_1: rgb(101, 101, 101);
$color_2: rgb(47, 49, 70);
$color_3: rgb(0, 153, 165);
$color_4: rgb(255, 255, 255);
$color_5: rgb(255, 255, 255);
$color_6: rgb(20, 20, 20);
$color_7: rgb(1, 132, 218);
$font-family_1: "Jost";
$font-family_2: "Roboto";
$font-family_3: "Font Awesome 5 Free";
$font-family_4: "Font Awesome 5 free";
$background-color_1: rgb(255, 255, 255);
$background-color_2: rgb(255, 255, 255);
$background-color_3: rgb(216, 217, 220);
$background-color_4: rgb(0, 119, 181);
$background-color_5: rgb(251, 248, 248);
$background-color_6: rgb(255, 255, 255);
$background-color_7: $color_2;
$background-color_8: $color_1;
$background-color_9: rgb(226, 226, 226);
$background-color_10: rgb(245, 245, 245);
$background-color_11: transparent;
$background-color_12: $color_4;
$background-color_13: rgb(28, 28, 29);
$background-color_14: rgb(245, 245, 245);
$background-color_15: #c63939;
$border-color_1: $color_1;

@import "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
/* variables */
/*carousel style*/
/*carousel-indicators*/
/* step-2 */
// &:root {
//     --primary-color: rgb(0, 153, 165);
//     --secondary-color: rgb(47, 49, 70);
//     --text-color: rgb(101, 101, 101);
//     --text-color-hover: rgb(255, 255, 255);
//     --bg-color: rgb(251, 248, 248);
//     --bg-color-2: rgb(255, 255, 255);
// }
// body {
//     font-family: $font-family_1;
//     color: $color_1;
//     width: 100%;
//     min-height: 100vh;
//     background-color: $background-color_1;
// }

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75) url("/your_loading_image.gif") no-repeat
        center center;
    z-index: 99999;
}

.auth-section {
    padding: 50px;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    background-color: $background-color_1;
    padding-bottom: 40px;
}
.logo {
    display: flex;
    margin: 45px 0 0 75px;
    position: relative;
    z-index: 10;
    .logo-icon {
        margin-right: 5px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .logo-text {
        font-size: 37px;
        color: $color_2;
        font-weight: bold;
        text-transform: capitalize;
    }
}
.left-section-inner {
    margin-left: auto;
    height: auto;
    // margin-top: 80px;
    .wrapper {
        width: 81%;
    }
}
.main-heading {
    font-size: 63px;
    color: $color_2;
    font-weight: bold;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    .logo-sig {
        width: 126px;
        height: 72px;
        object-fit: contain;
        margin-bottom: 30px;
    }

    .highlighted {
        color: $color_3;
    }

    label {
        font-family: $font-family-montserrat;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: $black;
    }

    p {
        font-family: $font-family-montserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $neutral-60;
    }
}
.left-section-text {
    font-size: 20px;
    font-family: $font-family_2;
    color: $color_1;
    line-height: 1.778;
    margin-top: 15px;
}
.client-area {
    margin-top: 25px;
    img {
        width: 28%;
    }
    h5 {
        font-size: 18px;
        color: $color_2;
        font-weight: bold;
        line-height: 4.333;
    }
}
.client-1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}
.client-2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}
.signup-btn {
    padding-top: 10px;
    .label {
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
        &::before {
            content: "";
            display: block;
            width: 100%;
            top: 50%;
            left: 0;
            height: 1px;
            position: absolute;
            background-color: $background-color_3;
        }
    }
    label {
        min-width: 40px;
        height: 40px;
        border: solid 1px rgb(216, 217, 220);
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        background-color: $background-color_2;
        z-index: 1;
        position: relative;
    }
    button {
        background-color: $background-color_4;
        height: 70px;
        width: 100%;
        border: solid 2px transparent;
        border-radius: 50px;
        font-size: 15px;
        font-family: $font-family_2;
        color: $color_4;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}
.right-section {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // padding-left: 0;
    // position: relative;
    // padding-bottom: 40px;
    &::before {
        content: "";
        background-color: $background-color_5;
        position: absolute;
        top: -100px;
        left: 0;
        z-index: 0;
        // width: 100vmax;
        // height: 100vmax;
    }
    svg {
        position: absolute;
        // top: -100px;
        // height: 100vmax;
    }
}
.right-section-inner {
    margin-right: auto;

    .logo_ghopo {
        width: 100%;
    }

    .wrapper {
        width: 85%;
        margin-left: auto;
        margin-top: 45px;
    }
}
.step-counter {
    width: max-content;
    margin-left: auto;
}
.step-counter-inner {
    display: flex;
    .steps-number {
        border: solid 2px rgb(53, 51, 51);
        border-radius: 50%;
        background-color: $background-color_6;
        width: 48px;
        transition: 0.5s all ease;
        height: 48px;
        text-align: center;
        line-height: 46px;
        font-size: 20px;
        font-family: $font-family_2;
        color: $color_2;
        font-weight: bold;
        position: relative;
        margin-right: 56px;
        &::after {
            content: "";
            position: absolute;
            width: 48px;
            height: 2px;
            transition: 0.5s all ease;
            left: 50px;
            background-color: $background-color_7;
            top: 50%;
        }
    }
    .no-line {
        margin-right: 0;
        &::after {
            position: static !important;
        }
    }
    .steps-number.active {
        border-color: $border-color_1;
        box-shadow: 0px 3px 46px 0px rgba(0, 0, 0, 0.13);
        color: $color_3;
        transition: 0.5s all ease;
        &::after {
            background-color: $background-color_8;
            transition: 0.5s all ease;
        }
    }
}
.steps {
    border-radius: 30px;
    background-color: $background-color_6;
    box-shadow: 0px 3px 95px 0px rgba(0, 0, 0, 0.17);
    width: 100%;
    min-height: 500px;
    position: relative;
    z-index: 1;
    .steps-inner {
        padding: 30px 50px 30px 50px;
        overflow: hidden;
    }
}
.steps-inner {
    .main-heading {
        text-align: center;
        font-size: 45px;
    }
}
#step1 {
    margin-top: 0px;
}
#step2 {
    margin-top: 30px;
}
#step3 {
    margin-top: 30px;
}
.job-single {
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
    position: relative;
    display: grid;
    justify-items: center;
    align-content: center;
    input[type="radio"] {
        -webkit-appearance: none;
        border: solid 2px rgb(235, 235, 235);
        border-radius: 28px;
        background-color: $background-color_6;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.5s all ease;
        cursor: pointer;
        top: 0;
        left: 0;
        &:checked {
            border-color: $border-color_1;
        }
    }
    img {
        width: 70%;
        position: relative;
        z-index: 10000;
        pointer-events: none;
    }
    label {
        font-size: 12px;
        font-family: $font-family_2;
        color: $color_2;
        pointer-events: none;
        position: relative;
        z-index: 10;
    }
}
.carousel {
    position: static;
}
.carousel-caption {
    width: 100%;
    position: static;
    padding: 0;
}
.carousel-indicators {
    margin: 0;
    position: static;
    margin-top: 20px;
    [data-bs-target] {
        transition: 0.3s ease;
        border-radius: 50%;
        background-color: $background-color_9;
        width: 13px;
        height: 13px;
        margin-left: 5px;
        margin-right: 5px;
        border: 0;
    }
    .active {
        background-color: $background-color_8;
    }
}
.step-custom {
    .steps-inner {
        // .scroll-form {
        //     overflow: hidden;
        //     overflow-y: scroll;
        //     height: 350px;
        //     position: relative;
        //     padding-right: 30px;
        //     &::-webkit-scrollbar {
        //         width: 10px;
        //     }
        //     &::-webkit-scrollbar-track {
        //         background-color: $background-color_10;
        //         border-radius: 50px;
        //         margin-top: 80px;
        //         margin-bottom: 39px;
        //     }
        //     &::-webkit-scrollbar-thumb {
        //         background-color: $background-color_8;
        //         border-radius: 50px;
        //         height: 100px;
        //     }
        // }
        padding-right: 20px;
        .main-heading {
            // padding-right: 30px;
        }
    }
    .next-prev {
        width: auto;
        // margin-right: 30px;
    }
}
.block {
    // padding-bottom: 20px;
    // border-bottom: solid 1px rgb(240, 240, 240);
    // margin-bottom: 20px;
}
.text_input {
    background-color: $background-color_10;
    height: 70px;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 10px;
    padding-left: 35px;
    font-size: 15px;
    font-family: $font-family_2;
    color: $color_1;
    border: solid 1px transparent;
    // display: flex;
    input {
        border: 0;
        width: 75%;
        height: 100%;
        background-color: $background-color_11;
        &:focus {
            outline: none;
        }
    }
    label {
        line-height: 70px;
        font-size: 15px;
        font-family: $font-family_2;
        color: $color_1;
        width: 25%;
        i {
            font-size: 15px;
            color: $color_5;
            margin-right: 5px;
            display: none;
        }
    }
}
.select_input {
    background-color: $background-color_10;
    height: 70px;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 10px;
    padding-left: 35px;
    font-size: 15px;
    font-family: $font-family_2;
    color: $color_1;
    border: solid 1px transparent;
    -webkit-appearance: none;
    height: 60px;
    cursor: pointer;
    border: solid 2px transparent;
    transition: 0.3s all ease;
    &:focus {
        outline: none;
        background-color: $background-color_12;
        border-color: $border-color_1;
        box-shadow: 0px 3px 46px 0px rgba(0, 0, 0, 0.13);
    }
}
.focused {
    background-color: $background-color_8;
    border-color: $border-color_1;
    transition: 0.3s all linear;
    label {
        color: $color_5 !important;
        transition: 0.3s all linear;
        i {
            display: inline-block !important;
        }
    }
    input {
        background-color: $background-color_12;
        border-radius: inherit;
        transition: 0.3s all linear;
        padding-left: 40px;
    }
}
.block_label {
    font-size: 15px;
    color: $color_6;
    font-weight: bold;
    margin-bottom: 10px;
}
.gender {
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 1;
    text-align: center;
    label {
        position: relative;
        z-index: 1;
        font-size: 15px;
        font-family: $font-family_2;
        color: $color_1;
        line-height: 60px;
        pointer-events: none;
    }
    input[type="radio"] {
        position: absolute;
        background-color: $background-color_10;
        top: 0;
        left: 0;
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: 0.5s all ease;
        border-radius: 50px;
        border: solid 2px transparent;
        &:checked {
            &::before {
                content: "\f00c";
                font-family: $font-family_3;
                font-weight: 900;
                font-size: 12px;
                color: $color_5;
                line-height: 20px;
                text-align: center;
                position: absolute;
                top: -5px;
                right: 0px;
                background-color: $background-color_8;
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
            border: solid 2px var(--primary-color);
            color: $color_3;
            background-color: $background-color_12;
            box-shadow: 0px 3px 46px 0px rgba(0, 0, 0, 0.13);
        }
    }
}
.select_opt {
    position: relative;
    height: auto;
    .select_input + span {
        &::after {
            content: "\f063";
            font-family: $font-family_4;
            font-weight: 900;
            position: absolute;
            pointer-events: none;
            font-size: 15px;
            color: $color_2;
            right: 30px;
            top: 30%;
        }
    }
    .select_input.full-width + span {
        &::after {
            top: 40%;
        }
    }
}
.select_input.full-width {
    margin-top: 10px;
    height: 70px;
}
.next-prev.show {
    display: flex;
}
.next-prev.hide {
    display: none;
}
.next-prev {
    margin-top: 20px;
    background-color: $background-color_15;
    height: 60px;
    border-radius: 50px;
    width: 100%;
    display: flex;
    button {
        height: 100%;
        background-color: $background-color_11;
        border-radius: inherit;
        color: $color_5;
        border: 0;
        font-size: 15px;
        font-family: $font-family_2;
        font-weight: bold;
        transition: 0.3s all ease;
        i {
            font-size: 14px;
            margin-left: 12px;
            transition: 0.3s all ease;
            color: $white;
        }
    }
    .next {
        &:hover {
            i {
                padding-left: 5px;
            }
        }
        background-color: $background-color_15;
        width: -webkit-fill-available;
    }
    .apply {
        &:hover {
            i {
                padding-left: 5px;
            }
        }
        background-color: $background-color_8;
        width: -webkit-fill-available;
    }
    .prev {
        &:hover {
            i {
                padding-right: 5px;
            }
        }
        background-color: $black;
        width: 85px;
        padding-right: 18px;
    }
}
.experience {
    width: 100%;
    margin-bottom: 20px;
    input {
        width: 55%;
        height: 60px;
        border-radius: 50px;
        background-color: $background-color_14;
        border: solid 2px transparent;
        transition: 0.1s all linear;
        text-align: center;
        &:focus {
            outline: none;
            border-color: $border-color_1;
            background-color: $background-color_12;
            box-shadow: 0px 3px 46px 0px rgba(0, 0, 0, 0.13);
        }
    }
    label {
        margin-left: 15px;
        font-size: 15px;
        font-family: $font-family_2;
        color: $color_1;
    }
}
.experience.sallary {
    input {
        width: 100%;
        text-align: left;
        padding-left: 25px;
    }
}
.step-3.step-custom {
    input[type="text"] {
        border: solid 2px transparent;
        border-radius: inherit;
        transition: 0.3s all ease;
        padding-left: 35px;
        width: 100%;
        &:focus {
            outline: none;
            border-color: $border-color_1;
            background-color: $background-color_12;
            box-shadow: 0px 3px 46px 0px rgba(0, 0, 0, 0.13);
        }
    }
    .text_input {
        padding-left: 0;
    }
    .message {
        margin-bottom: 25px;
    }
}
.c-padding {
    padding-left: 35px;
}
.upload {
    width: 100%;
    height: 64px;
    border-radius: 50px;
    text-align: center;
    label {
        width: 100%;
        height: 100%;
        border-radius: 50px;
        border: dashed 2px rgb(132, 136, 146);
        cursor: pointer;
        .text {
            line-height: 62px;
            color: $color_7;
            span {
                color: $color_1;
            }
            i {
                margin-right: 4px;
            }
        }
    }
}
input[type="file"] {
    display: none;
    width: 100%;
    height: 100%;
}
.supported-file {
    padding-left: 35px;
    font-size: 13px;
    font-family: $font-family_2;
    color: $color_1;
    text-align: left;
    display: block;
    margin-top: 15px;
}
.terms {
    margin-top: 25px;
    padding-left: 35px;
}
.agree-terms {
    display: flex;
    align-items: center;
    input[type="checkbox"] {
        -webkit-appearance: none;
        border: solid 2px #e9e9e9;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        &:checked {
            border-color: $border-color_1;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                background-color: $background-color_8;
                width: 15px;
                height: 15px;
                line-height: 30px;
                border-radius: 50%;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 5.5px;
            }
        }
    }
    label {
        font-size: 14px;
        font-family: $font-family_2;
        color: $color_1;
        width: 81%;
        margin-left: 15px;
        line-height: 1.7;
        a {
            font-weight: bold;
            text-decoration: none;
            color: $color_3;
        }
    }
}
#error {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 20;
}
.invalid {
    border: solid 2px #ff4444 !important;
    position: relative;
}

.auth-center-absolute{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
