//
// Breadcrumb
//

// Breadcrumb
.breadcrumb {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    color: $neutral-60;
    .text-ghopo {
        color: $primary-ghopo !important;
    }

    // Item breadcrumb
    .breadcrumb-item {
        display: flex;
        align-items: center;
        padding-left: $breadcrumb-item-padding-x;

        &:last-child {
            padding-right: 0;
        }

        &:after {
            padding-left: $breadcrumb-item-padding-x;
            content: "/";
        }

        &:before {
            display: none;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

// Breadcrumb line style
.breadcrumb-line {
    .breadcrumb-item {
        &:after {
            content: "-";
        }
    }
}

// Breadcrumb dot style
.breadcrumb-dot {
    .breadcrumb-item {
        &:after {
            content: "\2022";
        }
    }
}

// Breadcrumb separatorless style
.breadcrumb-separatorless {
    .breadcrumb-item {
        &:after {
            display: none;
        }
    }
}
