//
// Card
//

// Base
.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    @if ($card-border-enabled) {
        border: $card-border-width
            $card-border-style
            var(--#{$prefix}card-border-color);
    } @else {
        border-radius: 8px !important;
    }

    // Header
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        // min-height: $card-header-height;
        padding: 0 $card-px;
        color: var(--#{$prefix}card-cap-color);
        background-color: var(--#{$prefix}card-cap-bg);
        border-bottom: $card-border-width $card-border-style
            var(--#{$prefix}card-border-color);

        // Title
        .card-title {
            display: flex;
            align-items: center;
            margin: $card-header-py;
            margin-left: 0;

            &.flex-column {
                align-items: flex-start;
                justify-content: center;
            }

            .card-icon {
                margin-right: 0.75rem;
                line-height: 0;

                i {
                    font-size: 1.25rem;
                    color: var(--#{$prefix}gray-600);
                    line-height: 0;

                    &:after,
                    &:before {
                        line-height: 0;
                    }
                }

                .svg-icon {
                    color: var(--#{$prefix}gray-600);
                    @include svg-icon-size(24px);
                }
            }

            &,
            .card-label {
                font-weight: 500;
                font-size: 1.275rem;
                color: var(--#{$prefix}text-dark);
            }

            .card-label {
                margin: 0 0.75rem 0 0;
                flex-wrap: wrap;
            }

            // Description
            small {
                color: var(--#{$prefix}text-muted);
                font-size: 1rem;
            }

            // Headings
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0;
            }
        }

        // Toolbar
        .card-toolbar {
            display: flex;
            align-items: center;
            margin: $card-header-py 0;
            flex-wrap: wrap;
        }
    }

    // Body
    .card-body {
        padding: 0rem 1rem 1rem 1rem;
        color: var(--#{$prefix}card-color);
    }

    // Footer
    .card-footer {
        padding: $card-py $card-px;
        color: var(--#{$prefix}card-cap-color);
        background-color: var(--#{$prefix}card-cap-bg);
        border-top: $card-border-width $card-border-style
            var(--#{$prefix}card-border-color);
    }

    // Scroll
    .card-scroll {
        position: relative;
        overflow: auto;
    }

    // Reset padding x
    &.card-px-0 {
        .card-header,
        .card-body,
        .card-footer {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.card-py-0 {
        .card-header,
        .card-body,
        .card-footer {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &.card-p-0 {
        .card-header,
        .card-body,
        .card-footer {
            padding: 0;
        }
    }

    // Dashed style
    &.card-dashed {
        box-shadow: none;
        border: $card-border-width dashed $card-border-dashed-color;

        > .card-header {
            border-bottom: 1px dashed $card-border-dashed-color;
        }

        > .card-footer {
            border-top: 1px dashed $card-border-dashed-color;
        }
    }

    // Bordered style
    &.card-bordered {
        box-shadow: none;
        border: $card-border-width $card-border-style $card-border-color;
    }

    // Flush header and footer borders
    &.card-flush {
        > .card-header {
            border-bottom: 0 !important;
        }

        > .card-footer {
            border-top: 0 !important;
        }
    }

    // Enable shadow
    &.card-shadow {
        box-shadow: var(--#{$prefix}card-box-shadow);
        border: 0;
    }

    // Reset styles
    &.card-reset {
        border: 0 !important;
        box-shadow: none !important;
        background-color: transparent !important;

        > .card-header {
            border-bottom: 0 !important;
        }

        > .card-footer {
            border-top: 0 !important;
        }
    }
}

// Responsive stretch heights
.card {
    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

            // Stretch
            &.card#{$infix}-stretch {
                height: calc(100% - var(--#{$prefix}gutter-y));
            }

            // Stretch 75
            &.card#{$infix}-stretch-75 {
                height: calc(75% - var(--#{$prefix}gutter-y));
            }

            // Stretch 50
            &.card#{$infix}-stretch-50 {
                height: calc(50% - var(--#{$prefix}gutter-y));
            }

            // Stretch 33
            &.card#{$infix}-stretch-33 {
                height: calc(33.333% - var(--#{$prefix}gutter-y));
            }

            // Stretch 25
            &.card#{$infix}-stretch-25 {
                height: calc(25% - var(--#{$prefix}gutter-y));
            }

            // Header stretch
            .card-header#{$infix}-stretch {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                align-items: stretch;

                .card-toolbar {
                    margin: 0;
                    align-items: stretch;
                }
            }
        }
    }
}

// Utilities
.card-p {
    padding: $card-py $card-px !important;
}

.card-px {
    padding-left: $card-px !important;
    padding-right: $card-px !important;
}

.card-shadow {
    box-shadow: var(--#{$prefix}card-box-shadow);
}

.card-py {
    padding-top: $card-py !important;
    padding-bottom: $card-py !important;
}

.card-rounded {
    border-radius: $card-border-radius;
}

.card-rounded-start {
    border-top-left-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;
}

.card-rounded-end {
    border-top-right-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
}

.card-rounded-top {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
}

.card-rounded-bottom {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
}

// Mobile mode
@include media-breakpoint-down(md) {
    .card {
        > .card-header:not(.flex-nowrap) {
            padding-top: $card-header-py;
            padding-bottom: $card-header-py;
        }
    }
}

@if $enable-dark-mode {
    @include color-mode(dark) {
        .card {
            --#{$prefix}card-box-shadow: #{$card-box-shadow-dark};
        }
    }
}

.card-executive {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.card-progres-capex-prioritas {
    label {
        font-family: $font-family-poppins !important;
        font-weight: bold !important;
        color: $black-5 !important;
        font-size: 16px !important;
        margin-bottom: 12px !important;
    }

    thead {
        .color-header-tabel {
            color: $black !important;
            font-weight: 600 !important;
        }
    }
}
.card-executive-summary {
    .card-header {
        min-width: 50px !important;
        padding: 0 1rem !important;
        .card-title {
            span {
                font-family: $font-family-poppins;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $black;
            }
        }
    }

    .card-body {
        .box-executive {
            // display: flex;
            // flex-wrap: wrap;
            // gap: 14px;

            .col-custom {
                width: 20% !important;
            }

            &__content {
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 8px;
                width: 100%;
                padding: 16px 16px;
                height: 100%;
                display: flex;
                align-items: center;
                gap: 24px;

                img {
                    width: 80px;
                    height: 80px;
                    object-fit: contain;
                }

                &_information {
                    label {
                        font-family: $font-family-montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: $black-3;
                    }

                    .condition {
                        font-family: $font-family-montserrat;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 29px;
                        color: $black;
                    }

                    .sub-condition {
                        font-family: $font-family-montserrat;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 29px;
                        color: $black-3;
                    }

                    .condition-maintenance {
                        font-family: $font-family-montserrat;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 10px;
                        color: $black-1;
                    }
                }
            }
        }
    }
}

.card-volume {
    .card-header {
        border-bottom: 0 !important;
        min-height: 40px !important;
        padding: 0 1rem !important;
        .card-title {
            span {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                font-family: $font-family-poppins;
                color: $black;
            }
        }
    }

    .card-body {
        .box-volume {
            // display: flex;
            // flex-wrap: wrap;
            // gap: 14px;

            &__content {
                border: 1px solid #b8b8b8;
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                gap: 24px;
                border-radius: 8px;
                padding: 16px;

                img {
                    width: 80px;
                    height: 80px;
                    object-fit: contain;
                }

                &_information {
                    width: 100%;
                    label {
                        font-family: $font-family-montserrat;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 18px;
                        line-height: 24px;
                        color: $black;
                    }

                    .condition {
                        font-family: $font-family-montserrat;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 29px;
                        color: $black-1;
                    }

                    .sub-condition {
                        font-family: $font-family-montserrat;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 29px;
                        color: $black-2;
                    }

                    .condition-maintenance {
                        font-family: $font-family-montserrat;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 10px;
                        color: $black-1;
                    }
                }
            }
        }
    }
}

.card-inventory {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    .card-coal-stock-inventory {
        // margin-bottom: 20px;
        width: 100%;
        .card-header {
            border-bottom: 0 !important;
            min-height: 40px !important;
            padding: 0 1rem !important;
            .card-title {
                span {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 17px;
                    font-family: $font-family-poppins;
                    color: $black;
                }
            }
        }
        .card-body {
            padding: 16px !important;
            .box-coal {
                &__inventory {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    border: 1px solid #b8b8b8;
                    justify-content: left;
                    padding: 16px;
                    border-radius: 8px;

                    .title {
                        label {
                            font-family: $font-family-poppins;
                            font-style: normal;
                            font-weight: 900;
                            font-size: 24px;
                            line-height: 24px;
                            color: $black-0;
                        }
                    }

                    img {
                        width: 80px;
                        height: 80px;
                        object-fit: contain;
                    }

                    &_information {
                        label {
                            font-family: $font-family-poppins;
                            font-style: normal;
                            font-weight: 900;
                            font-size: 16px;
                            line-height: 24px;
                            color: $black-3;
                        }

                        .devider {
                            // width: 130px;
                            border: 1px solid $black-4;
                        }

                        .sub-condition {
                            font-family: $font-family-poppins;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            color: $black-3;
                        }
                    }
                }

                &__content {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    justify-content: left;

                    .title {
                        label {
                            font-family: $font-family-montserrat;
                            font-style: normal;
                            font-weight: 900;
                            font-size: 24px;
                            line-height: 24px;
                            color: $black-0;
                        }
                    }

                    img {
                        width: 80px;
                        height: 80px;
                        object-fit: contain;
                    }

                    &_information {
                        label {
                            font-family: $font-family-poppins;
                            font-style: normal;
                            font-weight: 900;
                            font-size: 16px;
                            line-height: 24px;
                            color: $black-3;
                        }

                        .devider {
                            width: 130px;
                            border: 1px solid $black-4;
                        }

                        .sub-condition {
                            font-family: $font-family-poppins;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            color: $black-3;
                        }
                    }
                }
            }

            &__information {
                margin-top: 16px !important;
                ul {
                    li {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        font-family: $font-family-montserrat;
                        color: $black;
                    }
                    span {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        font-family: $font-family-poppins;
                        color: $black;
                    }
                }
            }
        }
    }

    .card-coal-stock-flex {
        width: 100%;
        .card-coal-stock {
            // margin-bottom: 20px;
            padding: 10px;
            .card-header {
                border-bottom: 0 !important;
                min-height: 40px !important;
                padding: 0 1rem !important;
                .card-title {
                    span {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 17px;
                        font-family: $font-family-poppins;
                        color: $black;
                    }
                }
            }
            .card-body {
                padding: 16px !important;
                .box-coal {
                    &__inventory {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        border: 1px solid #b8b8b8;
                        justify-content: left;
                        padding: 16px;
                        border-radius: 8px;

                        .title {
                            label {
                                font-family: $font-family-poppins;
                                font-style: normal;
                                font-weight: 900;
                                font-size: 24px;
                                line-height: 24px;
                                color: $black-0;
                            }
                        }

                        img {
                            width: 80px;
                            height: 80px;
                            object-fit: contain;
                        }

                        &_information {
                            label {
                                font-family: $font-family-poppins;
                                font-style: normal;
                                font-weight: 900;
                                font-size: 16px;
                                line-height: 24px;
                                color: $black-3;
                            }

                            .devider {
                                width: 130px;
                                border: 1px solid $black-4;
                            }

                            .sub-condition {
                                font-family: $font-family-poppins;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 24px;
                                color: $black-3;
                            }
                        }
                    }

                    &__content {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        justify-content: left;

                        .title {
                            label {
                                font-family: $font-family-montserrat;
                                font-style: normal;
                                font-weight: 900;
                                font-size: 24px;
                                line-height: 24px;
                                color: $black-0;
                            }
                        }

                        img {
                            width: 80px;
                            height: 80px;
                            object-fit: contain;
                        }

                        &_information {
                            label {
                                font-family: $font-family-poppins;
                                font-style: normal;
                                font-weight: 900;
                                font-size: 16px;
                                line-height: 24px;
                                color: $black-3;
                            }

                            .devider {
                                // width: 130px;
                                border: 1px solid $black-4;
                            }

                            .sub-condition {
                                font-family: $font-family-poppins;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 24px;
                                color: $black-3;
                            }
                        }
                    }
                }

                &__information {
                    margin-top: 16px !important;
                    ul {
                        li {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            font-family: $font-family-montserrat;
                            color: $black;
                        }
                        span {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            font-family: $font-family-poppins;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}

.card-plant-klin {
    .card-klin-rate {
        width: 100%;

        .card-header {
            border-bottom: 0 !important;
            min-height: 40px !important;
            padding: 0 1rem !important;
        }
    }
    .card-plant-property {
        width: 100%;

        .card-header {
            border-bottom: 0 !important;
            min-height: 40px !important;
            padding: 0 1rem !important;
        }
    }
}

.col-custom {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.card-klin-net-charts {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        span {
            font-family: $font-family-poppins;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: $black-5;
        }
        label {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: $black-4;
        }
    }

    .card-body {
        padding: 0 !important;
        .charts {
            min-height: none !important;
            height: 365px !important;
        }
    }
}

.card-klin-net-availability-charts {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        padding: 0 !important;
        .charts {
            min-height: none !important;
            height: 380px !important;
        }
    }
}

.card-clinker-production {
    width: 100% !important;
    .card-body {
        padding: 0 !important;

        .clinker {
            list-style-type: none;
            padding: 0;

            &__content {
                padding: 13.6px;
                label {
                    font-family: $font-family-poppins;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 18px;
                    color: $black-3;
                }

                .accumulation {
                    font-family: $font-family-poppins;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: $black-0;
                    margin-bottom: 12px;
                }

                .trend {
                    color: $success-dark;
                }

                .devider {
                    border-bottom: 0.5px solid #d9d9d9;
                }
            }
        }
    }
}

.card-detail-biaya-pemeliharaan {
    width: 100%;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        margin-bottom: 12px;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .border-bottom {
        border-bottom: 1px solid #d0d0d0 !important ;
    }

    .decsription-title {
        vertical-align: middle !important;
        text-align: center !important;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        font-family: $font-family-poppins;
    }

    .card-body {
        padding: 3.6rem 1rem 3rem 1rem !important;
        table {
            thead {
                .active {
                    background-color: #92d050;
                }
                .warning-color {
                    background-color: yellow;
                }
                .danger-color {
                    background-color: red;
                }
                .active-color {
                    background-color: green;
                }
            }
            tbody {
                .active {
                    background-color: #92d050;
                }
                .warning-color {
                    background-color: yellow;
                }
                .danger-color {
                    background-color: red;
                }
                .active-color {
                    background-color: green;
                }
                .centerAlign {
                    text-align: center;
                    vertical-align: center;
                }

                td {
                    text-align: center;
                }
            }
        }
    }
}

.card-plan-property {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        padding: 0 !important;
        .charts {
            min-height: none !important;
            height: 236px !important;
        }
    }
}

.card-klin-net-availability-2 {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        padding: 0 !important;
        .charts {
            min-height: none !important;
            height: 236px !important;
        }
    }
}

.card-klin-rate-summary {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        padding: 0 !important;
        .charts {
            min-height: none !important;
            height: 250px !important;
        }
    }
}

.card-klin-rate-tdp {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        margin-bottom: 12px !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        padding: 0 !important;
        .charts {
            min-height: none !important;
            height: 480px !important;
        }
    }
}

.card-nilai-inventory {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 0rem 1rem 0.5rem 1rem !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }
    .border-bottom {
        border-bottom: 1px solid #d0d0d0 !important ;
    }
    .decsription-title {
        vertical-align: middle !important;
        text-align: center !important;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        font-family: $font-family-poppins;
    }

    .card-body {
        padding-bottom: 0 !important;
        table {
            tbody {
                .active {
                    background-color: #9bc9eb;
                    font-weight: bold;
                }

                td {
                    text-align: center;
                }
            }
        }
    }
}

.card-rencana-realisasi-capex {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        margin-bottom: 12px !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        padding: 0 !important;
        .charts {
            min-height: none !important;
            height: 230px !important;
        }
    }
}

.card-progress-realisasi-capex {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        padding: 0 !important;
        .charts {
            min-height: none !important;
            height: 230px !important;
        }
    }
}

.card-dashboard-she-safety {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        padding: 0 !important;
        .charts {
            min-height: none !important;
            height: 236px !important;
        }
    }
}

.card-dashboard-tpm {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        padding: 0 !important;
        .charts {
            min-height: none !important;
            height: 236px !important;
        }
    }
}
.card-inspec-crusher {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        display: block;
        text-align: center;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: $black-5;
        }
        p {
            font-family: $font-family-montserrat;
            font-size: 10px;
            color: $black-5;
        }
    }

    .card-body {
        padding: 0 !important;
        .charts {
            min-height: none !important;
            height: 236px !important;
        }
    }
}

.card-pie-plant-reability {
    width: 100% !important;

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        padding: 0 !important;
        .charts {
            min-height: none !important;
            height: 236px !important;
        }
    }
}

.card-dashboard-overhoul {
    width: 100% !important;
    .preparation {
        padding: 16px;
        border-radius: 8px;
        background-color: $white;
        margin-top: 16px;
        margin-bottom: 8px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        h1 {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px !important;
            line-height: 24px;
            color: $black-0;
            margin-bottom: 0 !important;
        }
    }

    .col-custom-3 {
        flex: 0 0 16.5% !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
    .col-custom-2 {
        flex: 0 0 25% !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
    }

    .col-custom-6 {
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-bottom: 10px !important;
        flex: auto !important;
    }
}

.card-plant-performance {
    width: 100% !important;
    .col-custom-6 {
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-bottom: 10px !important;
        flex: auto !important;
    }
}

.bg-target {
    background-color: #217edb;
}

.bg-realisasi {
    background-color: #3a9e7f;
}

.bg-prognosa {
    background-color: #cfad06;
}

.bg-available {
    background-color: #ff8f75;
}

.warning-color {
    background-color: yellow;
}
.danger-color {
    background-color: red;
}
.active-color {
    background-color: green;
}
.card-overhoul-progress {
    width: 100% !important;

    .progression {
        width: 100%;
        height: auto;
        background: $primary-ghopo;
        border-radius: 8px;
        color: $white;
        padding: 16px;
        display: flex;
        justify-content: space-between;

        label {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $white;
        }

        .statistic {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: $white;
        }
    }

    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        height: 370px;
        padding: 0 !important;
        .charts {
            min-height: 0 !important;
            height: 368px !important;
        }
    }
}

.card-plant-performance-oee-kiln-1-4 {
    width: 100% !important;
    padding: 12px;
    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        height: 384px;
        padding: 0 !important;
        .charts {
            min-height: 0 !important;
            height: 368px !important;

            .apexcharts-canvas {
                height: 365px !important;
            }
        }
    }
}

.card-overhoul-budget {
    width: 100% !important;
    padding: 12px;
    .card-header {
        border-bottom: 0 !important;
        padding: 1rem 1rem 0rem 1rem !important;
        span {
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-5;
        }
    }

    .card-body {
        height: 384px;
        padding: 0 !important;
        .charts {
            min-height: 0 !important;
            height: 368px !important;

            .apexcharts-canvas {
                height: 365px !important;
            }
        }
    }
}

.card-overhoul-part-opex {
    width: 100% !important;
    margin-bottom: 8px;
    .card-header {
        padding: 1rem 1rem 0rem 1rem !important;
        border-bottom: 0 !important;

        span {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: $black-5;
            text-transform: uppercase;
        }
    }
    .card-body {
        height: 194px;
        padding: 1rem 1rem 1rem 1rem !important;
        .charts {
            width: 100%;
            height: 180px;
        }
    }
}

.card-overhoul-budget-opex {
    width: 100% !important;
    margin-bottom: 8px;
    .card-header {
        padding: 1rem 1rem 0rem 1rem !important;
        border-bottom: 0 !important;

        span {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: $black-5;
            text-transform: uppercase;
        }

        .total {
            text-align: right;
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #963634;
        }
    }
    .card-body {
        height: 174px;
        padding: 1rem 1rem 1rem 1rem !important;
        .charts {
            width: 100%;
            height: 180px;
        }
    }
}

.card-overhoul-part-capex {
    width: 100% !important;
    margin-bottom: 8px;

    .card-body {
        padding: 1rem 1rem 1rem 1rem !important;
        height: 228px;

        th {
            padding: 10px !important;
            background: #fefe03;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;

            text-align: center;

            color: $black;
        }
    }
}

.card-overhoul-part-rutin-data {
    width: 100% !important;
    margin-bottom: 8px;

    .card-body {
        padding: 1rem 1rem 1rem 1rem !important;
        height: 500px;

        .title {
            font-weight: 700 !important;
        }

        th {
            padding: 10px !important;
            background: #5b9bd5;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 15px;
            color: $white;
            text-align: center;
        }

        tbody {
            overflow-x: hidden !important;
            overflow-y: auto !important;
        }
    }
}

.card-overhoul-part-non-rutin-data {
    width: 100% !important;
    margin-bottom: 8px;

    .card-body {
        padding: 1rem 1rem 1rem 1rem !important;
        height: 500px;

        .title {
            font-weight: 700 !important;
        }

        th {
            padding: 10px !important;
            background: #ed7d31;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 15px;
            color: $white;
            text-align: center;
        }

        tbody {
            overflow-x: hidden !important;
            overflow-y: auto !important;
        }
    }
}

.card-overhoul-hot-issue {
    width: 100% !important;
    margin-bottom: 8px;

    .card-header {
        padding: 0 !important;
        img {
            width: 100%;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
    }

    .card-body {
        padding: 1rem 1rem 1rem 1rem !important;
        height: 436px;
        overflow-x: hidden !important;
        overflow-y: auto !important;
        .title {
            font-weight: 700 !important;
        }

        th {
            padding: 10px !important;
            background: #ed7d31;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 15px;
            color: $white;
            text-align: center;
        }

        tbody {
            overflow-x: hidden !important;
            overflow-y: auto !important;

            td {
                font-family: $font-family-poppins;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: $black-5;
            }
        }
    }
}

.card-overhoul-gallery-preparation {
    width: 100% !important;
    margin-bottom: 8px;

    .card-body {
        padding: 1rem 1rem 1rem 1rem !important;
        height: 500px;

        img {
            height: 150px;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

.card-overhoul-progress-table {
    width: 100% !important;
    margin-bottom: 8px;

    .card-body {
        padding: 1rem 1rem 1rem 1rem !important;
        height: 102px;
        overflow-x: hidden !important;
        overflow-y: auto !important;

        tbody {
            overflow-x: hidden !important;
            overflow-y: auto !important;

            td {
                font-family: $font-family-poppins;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: $black-5;
            }
        }
    }
}

.card-overhoul-progress-day {
    width: 100% !important;
    margin-bottom: 8px;
    border: 1px solid #fefe03 !important;
    border-radius: 8px !important;

    .card-body {
        background-color: #fefe03;
        padding: 1rem 1rem 1rem 1rem !important;
        height: 102px;

        .day {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;

            color: $black-0;
        }

        .count-day {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;

            color: $black-0;
        }
    }
}

.card-overhoul-progress-total {
    width: 100% !important;
    margin-bottom: 8px;
    border: 1px solid $black-0 !important;
    border-radius: 8px !important;

    .card-body {
        background-color: $black-0;
        padding: 1rem 1rem 1rem 1rem !important;
        height: 102px;
        .day {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;

            color: #fefe03;
        }

        .count-day {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;

            color: #fefe03;
        }
    }
}

.card-overhoul-major-activity {
    width: 100% !important;
    margin-bottom: 8px;

    .card-body {
        padding: 1rem 1rem 1rem 1rem !important;
        height: 540px;
        overflow-x: hidden !important;
        overflow-y: auto !important;

        img {
            height: 150px;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        tr {
            th {
                padding: 10px !important;
            }
            td {
                padding: 10px !important;
            }
        }
    }
}

.card-overhoul-post-biaya-opex {
    width: 100% !important;
    margin-bottom: 8px;

    .card-body {
        padding: 1rem 1rem 1rem 1rem !important;
        height: 480px;
        overflow-x: hidden !important;
        overflow-y: auto !important;

        img {
            height: 150px;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        tr {
            th {
                padding: 10px !important;
            }
            td {
                padding: 10px !important;
            }
        }
    }
}
.card-overhoul-biaya-opex {
    width: 100% !important;
    margin-bottom: 8px;
    border: 1px solid #fefe03 !important;
    border-radius: 8px !important;

    .card-body {
        background-color: #fefe03;
        padding: 1rem 1rem 1rem 1rem !important;
        height: auto;

        .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            justify-content: center;
            .title {
                font-family: $font-family-poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;

                color: $black-0;
            }

            .percentage {
                font-family: $font-family-poppins;
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 24px;

                color: $black-0;
            }
        }
    }
}

.card-overhoul-progress-commisioning {
    width: 100% !important;
    margin-bottom: 8px;
    .card-header {
        border-bottom: 0 !important;
        text-align: center;
        padding: 10px;
        display: block !important;
        .title {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: $black-5;
            text-transform: uppercase;
        }
    }
    .card-body {
        padding: 0rem 1rem 0rem 1rem !important;
        height: 175px;
        overflow-x: hidden !important;
        overflow-y: auto !important;

        img {
            height: 150px;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        tr {
            th {
                padding: 10px !important;
            }
            td {
                padding: 10px !important;
            }
        }
    }
}

.card-overhoul-unsave {
    width: 100% !important;
    margin-bottom: 8px;
    .card-header {
        border-bottom: 0 !important;
        text-align: center;
        padding: 10px;
        display: block !important;
        .title {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: $black-5;
            text-transform: uppercase;
        }
    }
    .card-body {
        padding: 0rem 1rem 0rem 1rem !important;
        height: 220px;
        overflow-x: hidden !important;
        overflow-y: auto !important;

        img {
            height: 150px;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        tr {
            th {
                padding: 10px !important;
            }
            td {
                padding: 10px !important;
            }
        }
    }
}

.card-overhoul-gallery-dokumentasi {
    width: 100% !important;
    margin-bottom: 8px;

    .card-header {
        border-bottom: 0 !important;
        padding: 10px 10px 0px 10px;
        font-weight: 600;
        color: $black-0;
        font-size: 16px;
        font-family: $font-family-poppins;
    }

    .card-body {
        padding: 1rem 1rem 1rem 1rem !important;
        height: 448px;

        img {
            height: 205px;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

.card-sparepart-planning {
    &__header-title {
        padding: 16px;
        border-radius: 8px;
        background-color: $white;
        margin-top: 16px;
        margin-bottom: 8px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        h1 {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px !important;
            line-height: 24px;
            color: $black-0;
            margin-bottom: 0 !important;
        }
    }
    &__body {
        .non-rutin {
            &__record {
                .card {
                    padding: 16px !important;
                    .record-count {
                        label {
                            color: $black-3;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 18px;
                            margin-top: 12px;
                            font-family: $font-family-poppins;
                        }

                        .total-count {
                            color: $black-0;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 18px;
                            font-family: $font-family-poppins;
                        }
                    }
                    .devider {
                        width: 100%;
                        border: 1px solid #d0d0d0;
                    }
                    .value {
                        label {
                            color: $black-3;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 18px;
                            margin-top: 12px;
                            font-family: $font-family-poppins;
                        }
                        .total-count {
                            color: $black-0;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 18px;
                            font-family: $font-family-poppins;
                        }
                    }
                }
            }
            &__date {
                .card {
                    padding: 16px;
                    .table {
                        th {
                            padding: 0.4rem 0.4rem !important;
                        }
                        td {
                            padding: 0.4rem 0.4rem !important;
                        }
                    }
                }
            }
            &__month {
                .card {
                    .sparepart-month {
                        .card-body {
                            padding: 0rem 0rem 0.6rem 0rem !important;
                        }
                    }
                }
            }
            &__type {
                .card {
                    .sparepart-type {
                        .card-body {
                            padding: 0rem 0rem 0.6rem 0rem !important;
                        }
                    }
                }
            }
            &__type-one {
                .sparepart-non-rutin-type-one {
                    .card-body {
                        padding: 1rem 0rem 0rem 0rem;
                    }
                }
            }
            &__type-two {
                .sparepart-non-rutin-type-two {
                    .card-body {
                        padding: 1rem 0rem 0rem 0rem;
                    }
                }
            }
            &__type-three {
                .sparepart-non-rutin-type-three {
                    .card-body {
                        padding: 1rem 0rem 0rem 0rem;
                    }
                }
            }
        }
        .rutin {
            &__record {
                .card {
                    padding: 27px 16px 27px 16px !important ;
                    .record-count {
                        label {
                            color: $black-3;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 18px;
                            margin-top: 12px;
                            font-family: $font-family-poppins;
                        }

                        .total-count {
                            color: $black-0;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            font-family: $font-family-poppins;
                        }
                    }
                    .devider {
                        width: 100%;
                        border: 1px solid #d0d0d0;
                    }
                    .value {
                        label {
                            color: $black-3;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 18px;
                            margin-top: 12px;
                            font-family: $font-family-poppins;
                        }
                        .total-count {
                            color: $black-0;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            font-family: $font-family-poppins;
                        }
                    }
                }
            }
            &__sembaran {
                .sparepart-sembaran {
                    .card-body {
                        padding: 0rem 0rem 0.6rem 0rem !important;
                        label {
                            padding: 4px 8px 4px 8px !important;
                            font-family: $font-family-poppins !important;
                            font-style: normal !important;
                            font-weight: 600 !important;
                            font-size: 14px !important;
                            line-height: 24px !important;
                            color: $black-5 !important;
                        }
                    }
                }
            }
            &__wilayah {
                .card {
                    .record-count {
                        padding: 21px 16px 27px 16px !important;
                        border-top-right-radius: 6px;
                        border-top-left-radius: 6px;
                        background-color: #084e67;
                        label {
                            color: $white;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 18px;
                            margin-top: 12px;
                            font-family: $font-family-poppins;
                        }

                        .total-count {
                            color: $white;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            font-family: $font-family-poppins;
                        }
                    }
                    .devider {
                        width: 100%;
                        border: 1px solid #d0d0d0;
                    }
                    .value {
                        background-color: #3faeb5;
                        padding: 27px 16px 27px 16px !important ;
                        border-bottom-right-radius: 6px;
                        border-bottom-left-radius: 6px;
                        label {
                            color: $white;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 18px;
                            margin-top: 12px;
                            font-family: $font-family-poppins;
                        }
                        .total-count {
                            color: $white;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            font-family: $font-family-poppins;
                        }
                    }
                }
            }
        }
        .overhoul {
            &__record {
                .card {
                    padding: 27px 16px 27px 16px !important ;
                    .record-count {
                        label {
                            color: $black-3;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 18px;
                            margin-top: 12px;
                            font-family: $font-family-poppins;
                        }

                        .total-count {
                            color: $black-0;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            font-family: $font-family-poppins;
                        }
                    }
                    .devider {
                        width: 100%;
                        border: 1px solid #d0d0d0;
                    }
                    .value {
                        label {
                            color: $black-3;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 18px;
                            margin-top: 12px;
                            font-family: $font-family-poppins;
                        }
                        .total-count {
                            color: $black-0;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            font-family: $font-family-poppins;
                        }
                    }
                }
            }
            &__sembaran {
                .sparepart-sembaran {
                    .card-body {
                        padding: 0rem 0rem 0.6rem 0rem !important;
                        label {
                            padding: 4px 8px 4px 8px !important;
                            font-family: $font-family-poppins !important;
                            font-style: normal !important;
                            font-weight: 600 !important;
                            font-size: 14px !important;
                            line-height: 24px !important;
                            color: $black-5 !important;
                        }
                    }
                }
            }
            &__wilayah {
                .card {
                    .record-count {
                        padding: 21px 16px 27px 16px !important;
                        border-top-right-radius: 6px;
                        border-top-left-radius: 6px;
                        background-color: #f66d00;
                        label {
                            color: $white;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 18px;
                            margin-top: 12px;
                            font-family: $font-family-poppins;
                        }

                        .total-count {
                            color: $white;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            font-family: $font-family-poppins;
                        }
                    }
                    .devider {
                        width: 100%;
                        border: 1px solid #d0d0d0;
                    }
                    .value {
                        background-color: #fcb414;
                        padding: 27px 16px 27px 16px !important ;
                        border-bottom-right-radius: 6px;
                        border-bottom-left-radius: 6px;
                        label {
                            color: $white;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 18px;
                            margin-top: 12px;
                            font-family: $font-family-poppins;
                        }
                        .total-count {
                            color: $white;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            font-family: $font-family-poppins;
                        }
                    }
                }
            }
        }
        .tahun {
            .sparepart-tahun-type-two {
                .card-body {
                    padding: 1rem 0rem 0rem 0rem !important;
                }
            }
        }
    }
}

.card-line-refurbishment {
    .custom-heigh-table {
        height: 40px !important;
    }
}

.card-asset-production {
    .card-header {
        padding: 16px 16px 16px 16px !important;
        span {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $black-5;
        }
    }
}

.bg-black {
    background-color: #2a2a2a;
    color: $white;
}

.bg-yellow {
    background: #fdfd17;
    color: #2a2a2a;
}
.bg-blue {
    background: #00aef3;
    color: #2a2a2a;
}
.bg-blue-1 {
    background: #1f7793 !important;
    color: #2a2a2a;
}
.bg-green {
    background: #29cf2d;
    color: #2a2a2a;
}
.bg-red {
    background: #f90000;
    color: #2a2a2a;
}
.bg-gray {
    background-color: #e7e7e7;
    color: #2a2a2a;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.bg-maroon {
    background-color: #f1dcdb;
    color: #2a2a2a;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.circle-danger {
    width: 12px;
    height: 12px;
    background: #da0806;
    border-radius: 50%;
}

.circle-success {
    width: 12px;
    height: 12px;
    background: #29cf2d;
    border-radius: 50%;
}

.card-breadcrumb-filter {
    width: 40%;
}

.card-breadcrumb-button {
    width: 30%;
    display: grid;
}

.card-top-over-houl {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.card-budget-ajuan-opex {
    height: 98%;
}

.myImgViewOverHoul {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImgViewOverHoul:hover {
    opacity: 0.7;
}

/* The Modal (background view img over houl) */
.modal-view-img {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (view image over houl) */
.modal-content-view-img {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
}

/* Caption of Modal view Image over houl */
.caption-view-img-over-houl {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation view Image over houl */
.modal-content-view-img,
.caption-view-img-over-houl {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button view Image over houl*/
.closeViewImg {
    position: absolute;
    top: 55px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeViewImg:hover,
.closeViewImg:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 576px) {
    .card-volume {
        .box-volume {
            margin-bottom: 12px !important;
        }
    }

    .card-executive-summary {
        .card-body {
            .box-executive {
                &__content {
                    margin-bottom: 12px;
                }
                .col-custom {
                    width: 100% !important;
                }
            }
        }
    }

    .card-coal-stock {
        margin-bottom: 12px !important;
        .card-body {
            padding: 0px !important;
            .box-coal {
                &__content {
                    gap: 12px !important;
                    .title {
                        label {
                            font-weight: 700 !important;
                            font-size: 12px !important;
                            line-height: 14px !important;
                        }
                    }
                    img {
                        width: 60px !important;
                        height: 60px !important;
                    }

                    &_information {
                        label {
                            font-size: 12px !important;
                        }
                        .devider {
                            width: 100% !important;
                        }
                        .sub-condition {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
    }

    .card-coal-stock-inventory {
        margin-bottom: 12px !important;
        .card-body {
            padding: 0px !important;
            .box-coal {
                &__inventory {
                    gap: 12px !important;
                    .title {
                        label {
                            font-weight: 700 !important;
                            font-size: 12px !important;
                            line-height: 14px !important;
                        }
                    }
                    img {
                        width: 60px !important;
                        height: 60px !important;
                    }

                    &_information {
                        label {
                            font-size: 12px !important;
                        }
                        .devider {
                            width: 100% !important;
                        }
                        .sub-condition {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
    }
}

/* 100% Image Width on Smaller Screens view Image over houl */
@media only screen and (max-width: 700px) {
    .modal-content-view-img {
        width: 100%;
    }
}

.dropdown-filter {
    width: 150px;
}
