.bg-ghopo-primary {
    background-color: $primary-ghopo !important;
}

.bg-black-800 {
    background-color: #d0d0d0 !important;
    color: $black !important;
}

.bg-black-400 {
    background-color: #595959 !important;
    color: $white !important;
}

.bg-black-300 {
    background-color: #a6a6a6 !important;
    color: $white !important;
}

.bg-black-200 {
    background-color: #2a2a2a !important;
    color: $white !important;
}

.bg-yellow {
    background-color: #ffff00 !important;
    color: $black !important;
}

.bg-green {
    background-color: #91d04f !important;
    color: $black !important;
}

.col-custom {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
