//
// Progress
//

// Vertical Position
.progress-vertical {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .progress {
        height: 100%;
        @include border-radius($border-radius);
        display: flex;
        align-items: flex-end;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }

        .progress-bar {
            width: 8px;
            @include border-radius($border-radius);
        }
    }
}

.progress-group{
    display:table;
    width:100%;
  }

.progress-value{
    display:table-cell;
    width:1%;
    vertical-align:middle;
    font-family: $font-family-montserrat;
    font-size: 10px;
    color: $black-5;
}